body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background: #ffffff;
}

.page{ 
	width:auto;
	height:auto;
} 
.tile{ 
	width:auto;
	padding:5px;
	height:auto; display:table;
}
.org { 
	height:190px;
	width:248px;
	float:left;
	margin:0 10px 0 0;
	padding:2px;
	cursor: pointer;
	transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}

h3 {
	font-size: 40px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.name {
	font-size: 40px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

a.links {
	background-color: white;
}
	
.hero {
	padding: 120px ;
	margin: 10px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-image: url("http://eskipaper.com/images/waves-1.jpg");
	background-size: cover;
	color: black;
	font-size: 75px;
}

.michelle {
	padding: 120px ;
	margin: 10px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-image: url("http://s3-origin-images.politico.com/2014/11/26/141125_michelle_obama_cook_gty_1160.jpg");
	background-size: cover;
	color: white;
	font-size: 50px;
}

.michellecuatro {
	padding: 150px ;
	margin: 10px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-image: url("michellearms.jpg");
	background-size: cover;
	color: white;
	font-size: 50px;
}
	
.michythree {
	padding: 150px ;
	margin: 10px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-image: url("http://assets.nydailynews.com/polopoly_fs/1.1568424.1389103104!/img/httpImage/image.jpg_gen/derivatives/landscape_1200/michelle-obama-dancing.jpg");
	background-size: cover;
	color: white;
	font-size: 50px;
}

.michellefour {
	padding: 120px ;
	margin: 10px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Barack_Obama_Michelle_Obama_Queen_Elizabeth_II_Buckingham_Palace_London.jpg/800px-Barack_Obama_Michelle_Obama_Queen_Elizabeth_II_Buckingham_Palace_London.jpg");
	background-size: cover;
	color: white;
	font-size: 50px;
}
.michellefive {
	padding: 140px ;
	margin: 10px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-image: url("http://s1.ibtimes.com/sites/www.ibtimes.com/files/styles/lg/public/2013/06/28/rtx114ja.jpg");
	background-size: cover;
	color: white;
	font-size: 50px;
}

.michellesix {
	padding: 120px ;
	margin: 10px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-image: url("https://i.ytimg.com/vi/RaTMdOeZzVo/maxresdefault.jpg");
	background-size: cover;
	color: white;
	font-size: 50px;
}

a {
  color: blue;
  text-decoration: none; /* no underline */
}
