header {
  padding: 20px 0;
  text-align: center;
  align-content: center;
}



header .row,
footer .row {
  display: flex;
  align-items: center;
  text-align: center;
}

body{
	text-col
	align-content: center;
	text-align: center;
  	
  	background: #ce88c1;
  	background: -webkit-linear-gradient(#d19ec7, #293f50);
  	background:    -moz-linear-gradient(#d3abcc, #293f50);
  	background:         linear-gradient(#d8bed3, #293f50);
  	}
ul{
       display: inline-block;
       margin-left: auto;
       margin-right: auto;
       text-align: left;
    }
}



