


body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	
	

}
.heading{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 50px;
	color: white;
	text-decoration: none;
}

.image {
	postion: relative;

}



	

.page{ 
	width:auto;
	height:auto;
	width: 100%;
	height: 100%
	padding: 0;
	background-color: #3D311D;
	
	
} 

.org { 
	height:200px;
	width:200px;
	float:left;
	margin:2px;
	padding:2px;
	cursor: pointer;
	transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.orgBig{
    width:210px;
	cursor: pointer;
	transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;

}

.orgBig:hover {
  background: #ccf5ff;
  height: 400px;


}

.orgDif{
    width:210px;
	cursor: pointer;
	transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;

}

.orgDif:hover {
  background: #ccf5ff;
  border-radius: 50%;


}
.teal{
	background:#58B4C4;
	}
.purple{
	background:#7E13D6;
	}
.gold{
	background:#F2D585;
	}
.brown{
	background-color: #3D311D;
	}

}

h2{
	font-size: 150px;
	color: white;

}

h3{
	font-size: 42px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #ffffff;
}

.hero {

	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background: #3D311D url('https://az616578.vo.msecnd.net/files/2016/09/30/636108671650787277-904655067_party.jpg');
	background-size: cover;
	padding: 200px;

}
	
	
  


p {
  	font-size: 15px;
 	color:black;
	text-align: initial;
	font-family: Galliard-ITC;

}

}

.hero a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;

}

.name {
	text-align: center;
	width: 86%;
	padding: 25px;
	font-size: 25px;
	font-family: Impact, Charcoal, sans-serif;
	color: black;
}


.text{
	color: #3D311D ;
}


