body{

	background-color: white;
	font-style: arial;
	text-align:left;
	align-content: center;
	margin-left: 12cm;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: 1500px 1500px;
	font-weight: bold;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;

}
button{
	align-content: center;
	text-align: center;
	margin-left: 2cm;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	height: 35px;
	width: 100px;
	font-size: 15px;
	background-color:#794699;
	color: white;
}
